{% extends 'base.html' %}

{% block body %}
<!-- Page Body Start-->
<div class="page-body-wrapper default-menu default-menu">
  <!-- Page Sidebar Start-->

  {% include 'sidebar.html' %}

  <!-- Page Sidebar Ends-->
  <div class="page-body">
    <div class="container-fluid">
      <div class="page-title">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h3>
               Project Create</h3>
          </div>

          <div class="col-12 col-sm-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">                                       <i data-feather="home"></i></a></li>
              <li class="breadcrumb-item">Apps</li>
              <li class="breadcrumb-item active">Project Create                           </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <form method='POST' enctype='multipart/form-data'>
                {% csrf_token %}

                <div class="form theme-form projectcreate">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label>Project Title</label>
                        {{form.name}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label>Category</label>
                        {{form.category}}
                      </div>
                    </div>
                  </div>

                  
  
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label>Workers</label>
                        {{form.worker}}
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <label>Project Status</label>
                        {{form.status}}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <label>Starting date</label>
                        {{form.work_start_date}}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <label>Ending date</label>
                        {{form.work_end_date}}
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <label>Deadline date</label>
                        {{form.deadline}}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <label>Client Budget</label>
                        {{form.project_client_budget}}
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mb-3">
                        <label>Eastemate Cost</label>
                        {{form.project_eastemate_cost}}
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label>Enter sort description</label>
                        {{form.sort_description}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label>Project Description</label>
                        {{form.description}}
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col">
                      <div class="mb-3">
                        <label>Upload project file</label>
                        {{form.file}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="text-end"><button type='submit' class="btn btn-secondary me-3">Add Project</button><a class="btn btn-danger" href="{% url 'leader:leader_project' %}">Cancel</a></div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->

    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header pb-0">
              <h5>Start New Project</h5>
            </div>
            <div class="card-body">
              <form class="f1" method="post">
                <div class="f1-steps">
                  <div class="f1-progress">
                    <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"></div>
                  </div>
                  <div class="f1-step active">
                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    <p>Create Project</p>
                  </div>
                  <div class="f1-step">
                    <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    <p>Payment Worker</p>
                  </div>
                  <div class="f1-step">
                    <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    <p>Submit</p>
                  </div>
                </div>

                <fieldset>
                  <div class="mb-2">
                    <label for="f1-first-name">First Name</label>
                    {{form.as_p}}
                  </div>
                  
                  <div class="f1-buttons">
                    <button class="btn btn-primary btn-next" type="button">Next</button>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="mb-2">
                    <label class="sr-only" for="f1-email">Email</label>
                    <input class="f1-email form-control" id="f1-email" type="text" name="f1-email" placeholder="Email..." required="">
                  </div>
                  <div class="mb-2">
                    <label class="sr-only" for="f1-password">Password</label>
                    <input class="f1-password form-control" id="f1-password" type="password" name="f1-password" placeholder="Password..." required="">
                  </div>
                  <div class="mb-2">
                    <label class="sr-only" for="f1-repeat-password">Repeat password</label>
                    <input class="f1-repeat-password form-control" id="f1-repeat-password" type="password" name="f1-repeat-password" placeholder="Repeat password..." required="">
                  </div>
                  <div class="f1-buttons">
                    <button class="btn btn-primary btn-previous" type="button">Previous</button>
                    <button class="btn btn-primary btn-next" type="button">Next</button>
                  </div>
                </fieldset>
                
                <fieldset>
                  <div class="mb-2">
                    <label class="sr-only">Note:</label>
                    <h4 class="text-wrap">Congratulations! <br/><br/>
                      To start a new project with expert development team. <br/><br/>
                      This project will be active once accept it by developer! untill that time you have to wait to see this project on your dashboard. <br/><br/>
                      Thank You
                    </h4>
                  </div>
                  
                  
                  <div class="f1-buttons">
                    <button class="btn btn-primary btn-previous" type="button">Previous</button>
                    <button class="btn btn-primary btn-submit" type="submit">Submit</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->


  </div>
</div>
{% endblock body %}
    